<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, "Confirmation" %>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="field">
  	<%= f.label :gender %>
  	<%= f.select :gender, [['Male','male'],['Female','female']] %>
  </div>
  <div class="field">
	  <%= f.label :country %>
	  <%= f.country_select :country %>
  </div>
  <div class="field">
  	<%= f.label :status %>
  	<%= f.select :status, [['Single','single'],['Happily attached','happily attached'], ['Wish I was single','wish I was single'], ["It's complicated","it's complicated"]] %>
  </div>
  <div class="field">
    <%= f.label :looking_for, ('Looking for') %>
    <%= f.text_field :looking_for %>
  </div>
  <div class="field">
  	<%= f.label :shortest_relationship, ('Shortest relationship') %>
  	<%= f.select :shortest_relationship, [['Less than 1 year','less than 1 year'],['Between 2 - 5 years','between 2 - 5 years'], ['More than 5 years','more than 5 years']] %>
  </div>
  <div class="field">
  	<%= f.label :longest_relationship, ('Longest relationship') %>
  	<%= f.select :longest_relationship, [['Less than 1 year','less than 1 year'],['Between 2 - 5 years','between 2 - 5 years'], ['More than 5 years','more than 5 years']] %>
  </div>
  <!-- <a class="btn js-btn" href= findfriends >Go to next »</a> -->
  <div class="actions">
  	<%= f.submit %>
  </div>
<% end %>
