<%= form_for([@topic]) do |f| %>
  <%= f.text_field :title %>
  <div class="field">
        <%= f.text_area :name, :size => 60,  :class => 'mceEditor', :id => 'mytextarea1'%>
      </div>
      <div class="actions">
        <%= f.submit "Add Journal" %>
      </div>
  <%= render 'journal' %>
<% end %>