<p id="notice"><%= notice %></p>

<p>
  <b>Date:</b>
  <%= @journal.date %>
</p>

<p>
  <b>Title:</b>
  <%= @journal.title %>
</p>

<p>
  <b>Text:</b>
  <%= @journal.entry %>
</p>


<%= link_to 'Edit', edit_journal_path(@journal) %> |
<%= link_to 'Back', journals_path %>
