<!DOCTYPE html>
<html>
<head>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-dropdown.js"></script>
	<script type="text/javascript">
	$('.dropdown-toggle').dropdown();
	</script>
	<title><%= title %></title>
	<%= csrf_meta_tag %>
	<%= render 'layouts/stylesheets' %>
	<%= stylesheet_link_tag 'application' %>
	<%= stylesheet_link_tag("bootstrap.css", :media => 'screen') %>
</head>
<body>
    <div class="container">
        <div class="row" style="padding: 25px 0px 25px 0px;">
            <%= render 'layouts/header' %>
        </div>
        <div class="row">
            <%= yield %>
        </div>
        <div class="row">
            <%= render 'layouts/footer' %>
        </span>
    </div>
</body>
